@{
    ViewBag.Title = "Calculate your Premium!";
}
<form action="/Home/Form" method="post" class="form">
    <h1>Calculate premium</h1>
    <div>
        <label for="gender">Gender:</label>
        <input type="text" id="gender"name="gender" />
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" />
    </div>
    <input type="submit" value="Calculate!"/>

</form>
